@page "/category/create"
@inject ICategoryRepository categoryRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Create Category</h3>

<CategoryForm Category="category" OnValidSubmit="Create" />

@code {
    private Category category = new Category();

    private void Create()
    {
        try
        {
            categoryRepository.CreateCategory(category);
            navigationManager.NavigateTo("categories");
        }
        catch (Exception ex)
        {
            // ...
            Console.WriteLine(ex.Message);
        }
    }
}
