@*@page "/bakaley/{CategoryId:int}"*@
@page "/bakaley"
@inject IProductsRepository productsRepository

<div>
    <h3>Products</h3>
    <ProductsList ProductDiscountDto="ProductDiscountDto" />
</div>

@code{ 
    //[Parameter] public int CategoryId { get; set; }
    List<ProductDiscountDto> ProductDiscountDto;
    protected async override Task OnInitializedAsync()
    {
        try
        {
            ProductDiscountDto = await productsRepository.GetProducts(3);
        }
        catch (Exception ex)
        {

        }
    } }